flows/DigitSecFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getCommit</name>
        <label>getCommit</label>
        <locationX>1261</locationX>
        <locationY>1863</locationY>
        <actionName>DigitSecgetCommit</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assignCopadoOrg</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>getMetaDataAttachment.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>scanComplete</assignToReference>
            <name>metadata</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>listScanStatus</name>
        <label>listScanStatus</label>
        <locationX>995</locationX>
        <locationY>2318</locationY>
        <actionName>DigitSecService.listStatus</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>checkScanStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ScanOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>JWT</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>LoginUser</name>
        <label>LoginUser</label>
        <locationX>2471</locationX>
        <locationY>206</locationY>
        <actionName>DigitSecService.loginUser</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>checkIfDeployment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>saveResults</name>
        <label>saveResults</label>
        <locationX>118</locationX>
        <locationY>2434</locationY>
        <actionName>DigitSecSecurityScan</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jwt</name>
            <value>
                <elementReference>JWT</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgId</name>
            <value>
                <elementReference>ScanOrg.orgId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resultobjectId</name>
            <value>
                <elementReference>resultObjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>savetoLocalObject</name>
            <value>
                <elementReference>$Setup.digitsec__c.DigitSec_Findings__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scanId</name>
            <value>
                <elementReference>ScanOrg.scanId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userstoryId</name>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>scanCopadoBranchStart</name>
        <label>scanCopadoBranchStart</label>
        <locationX>1094</locationX>
        <locationY>779</locationY>
        <actionName>DigitSecService.scanCopadoBranchStart</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>scanbranchCheck</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ScanCopadoBranchOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>JWT</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>scanCopadoInit</name>
        <label>scanCopadoInit</label>
        <locationX>1921</locationX>
        <locationY>1622</locationY>
        <actionName>DigitSecService.scanCopadoInit</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>checkValidOrgCredential</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CopadoOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>JWT</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>scanCopadoInitwithCommit</name>
        <label>scanCopadoInitwithCommit</label>
        <locationX>995</locationX>
        <locationY>1574</locationY>
        <actionName>DigitSecService.scanCopadoInit</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>checkCredsValid</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CopadoOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>JWT</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>scanCopadoStartwithCommit</name>
        <label>scanCopadoStartwithCommit</label>
        <locationX>1259</locationX>
        <locationY>2102</locationY>
        <actionName>DigitSecService.scanCopadoStart</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>listScanStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>scanCopadoOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>JWT</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>scanInit</name>
        <label>scanInit</label>
        <locationX>2579</locationX>
        <locationY>1142</locationY>
        <actionName>DigitSecService.scanInit</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>checkOrg</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Org</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>JWT</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>scanStart</name>
        <label>scanStart</label>
        <locationX>731</locationX>
        <locationY>1982</locationY>
        <actionName>DigitSecService.scanStart</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>listScanStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ScanOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>JWT</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignCopadoOrg</name>
        <label>assignCopadoOrg</label>
        <locationX>1259</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>scanCopadoOrg.copado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scanCopadoOrg.orgId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scanCopadoInitwithCommit.200.Orgx5fId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scanCopadoOrg.scanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scanCopadoInitwithCommit.200.x5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scanCopadoOrg.z0commit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scanComplete</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanOrg.orgId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!scanCopadoInitwithCommit.200.Orgx5fId}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanOrg.scanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!scanCopadoInitwithCommit.200.x5fid}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scanCopadoStartwithCommit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDefaultOrg</name>
        <label>assignDefaultOrg</label>
        <locationX>2101</locationX>
        <locationY>744</locationY>
        <assignmentItems>
            <assignToReference>Org.orgx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.digitsec__c.orgId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JWT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoginUser.200.token</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scanInit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOrg</name>
        <label>assignOrg</label>
        <locationX>1968</locationX>
        <locationY>805</locationY>
        <assignmentItems>
            <assignToReference>Org.orgx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.digitsec__c.orgId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JWT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoginUser.200.token</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkCommit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOrgResult</name>
        <label>assignOrgResult</label>
        <locationX>2051</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>ScanOrg.orgId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scanCopadoInit.200.Orgx5fId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanOrg.scanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scanCopadoInit.200.x5fid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scanStart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignScanId</name>
        <label>assignScanId</label>
        <locationX>731</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>ScanOrg.orgId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scanInit.200.Orgx5fId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanOrg.scanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scanInit.200.x5fid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scanStart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSFDCOrgId</name>
        <label>assignSFDCOrgId</label>
        <locationX>1704</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>CopadoOrg.orgx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00D5i0000089lWt</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JWT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoginUser.200.token</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>grabCredsfromCopado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CopadoOrg.copado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkCommit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createBranchLink</name>
        <label>createBranchLink</label>
        <locationX>1344</locationX>
        <locationY>778</locationY>
        <assignmentItems>
            <assignToReference>branchBaseUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getbranchDetails.copado__Branch_Base_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>branchName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getUserStory.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createBranchScanRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createBranchScanRequest</name>
        <label>createBranchScanRequest</label>
        <locationX>1242</locationX>
        <locationY>778</locationY>
        <assignmentItems>
            <assignToReference>ScanCopadoBranchOrg.branchlink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>branchUrl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanCopadoBranchOrg.branchscan</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanCopadoBranchOrg.copado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanCopadoBranchOrg.orgId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getUserStory.copado__Org_Credential__r.copado__SFDC_Org_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scanCopadoBranchStart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createScanOrg</name>
        <label>createScanOrg</label>
        <locationX>50</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>ScanOrg.orgId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scanCopadoBranchStart.200.orgId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanOrg.scanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scanCopadoBranchStart.200.scanId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>listScanStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getSFDCdeployment</name>
        <label>getSFDCdeployment</label>
        <locationX>2662</locationX>
        <locationY>885</locationY>
        <assignmentItems>
            <assignToReference>CopadoOrg.copado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CopadoOrg.orgx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDeploymentSource.copado__From_Org__r.copado__SFDC_Org_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JWT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoginUser.200.token</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultObjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scanCopadoInit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkCommit</name>
        <label>checkCommit</label>
        <locationX>1836</locationX>
        <locationY>1022</locationY>
        <defaultConnector>
            <targetReference>scanInit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isBranchScan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.digitsec__c.Scan_all_commits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getbranchDetails</targetReference>
            </connector>
            <label>isBranchScan</label>
        </rules>
        <rules>
            <name>isCommitEnabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.digitsec__c.ScanCommit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCommits</targetReference>
            </connector>
            <label>isCommitEnabled</label>
        </rules>
        <rules>
            <name>isCopadoScan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grabCredsfromCopado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scanCopadoInit</targetReference>
            </connector>
            <label>isCopadoScan</label>
        </rules>
        <rules>
            <name>isDefaultOrgScan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCopadoScan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>isDefaultOrgScan</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCredentialExists</name>
        <label>checkCredentialExists</label>
        <locationX>1836</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>assignOrg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>credentialExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUserStory.copado__Environment__r.copado__Org_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSFDCOrgId</targetReference>
            </connector>
            <label>credentialExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCredsValid</name>
        <label>checkCredsValid</label>
        <locationX>1214</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>getCommit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>invalidCreds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scanCopadoInitwithCommit.200.Orgx5fId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>scanError</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateInvalidOrg</targetReference>
            </connector>
            <label>invalidCreds</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkextensionExists</name>
        <label>checkextensionExists</label>
        <locationX>2047</locationX>
        <locationY>327</locationY>
        <defaultConnector>
            <targetReference>getUserStory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>extensionExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExtension</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createTest</targetReference>
            </connector>
            <label>extensionExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfDeployment</name>
        <label>checkIfDeployment</label>
        <locationX>2653</locationX>
        <locationY>254</locationY>
        <defaultConnector>
            <targetReference>getExtension</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isDeployment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deploymentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>deploymentResultId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>resultId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDeploymentSource</targetReference>
            </connector>
            <label>isDeployment</label>
        </rules>
        <rules>
            <name>isTestExecutionRun</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resultId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>deploymentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>deploymentResultId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>getLatestUserStory</targetReference>
            </connector>
            <label>isTestExecutionRun</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkMetaDataExists</name>
        <label>checkMetaDataExists</label>
        <locationX>1457</locationX>
        <locationY>1502</locationY>
        <defaultConnector>
            <targetReference>scanCopadoInit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMetaDataAttachment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scanCopadoInitwithCommit</targetReference>
            </connector>
            <label>exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkOrg</name>
        <label>checkOrg</label>
        <locationX>995</locationX>
        <locationY>1742</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>correctOrgId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scanInit.200.Orgx5fId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.digitsec__c.orgId__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignScanId</targetReference>
            </connector>
            <label>correctOrgId</label>
        </rules>
        <rules>
            <name>incorrectOrgId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scanInit.200.Orgx5fId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.digitsec__c.orgId__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateResultInvalidOrg</targetReference>
            </connector>
            <label>incorrectOrgId</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkScanStatus</name>
        <label>checkScanStatus</label>
        <locationX>1000</locationX>
        <locationY>2525</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>scanCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listScanStatus.200.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>scanisCompleted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>verifyifDeployment</targetReference>
            </connector>
            <label>scanCompleted</label>
        </rules>
        <rules>
            <name>scanPending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listScanStatus.200.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>scanisPending</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>waitforCompletion</targetReference>
            </connector>
            <label>scanPending</label>
        </rules>
        <rules>
            <name>scanErrorOccured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listScanStatus.200.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>scanError</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateResultError</targetReference>
            </connector>
            <label>scanErrorOccured</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkValidOrgCredential</name>
        <label>checkValidOrgCredential</label>
        <locationX>2157</locationX>
        <locationY>1673</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>invalidCredentials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scanCopadoInit.200.Orgx5fId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>scanError</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateInvalidOrg</targetReference>
            </connector>
            <label>invalidCredentials</label>
        </rules>
        <rules>
            <name>validCreds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scanCopadoInit.200.Orgx5fId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>scanError</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignOrgResult</targetReference>
            </connector>
            <label>validCreds</label>
        </rules>
    </decisions>
    <decisions>
        <name>scanbranchCheck</name>
        <label>scanbranchCheck</label>
        <locationX>819</locationX>
        <locationY>987</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scanCopadoBranchStart.200.orgId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>scanError</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scanCopadoBranchStart.200.scanId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createScanOrg</targetReference>
            </connector>
            <label>success</label>
        </rules>
        <rules>
            <name>failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scanCopadoBranchStart.200.orgId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>scanError</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateInvalidOrg</targetReference>
            </connector>
            <label>failure</label>
        </rules>
    </decisions>
    <decisions>
        <name>scanCommit</name>
        <label>scanCommit</label>
        <locationX>830</locationX>
        <locationY>1262</locationY>
        <defaultConnector>
            <targetReference>getMetaDataAttachment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>validCommitNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCommits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateResult</targetReference>
            </connector>
            <label>validCommitNotFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>updateDeploymentJob</name>
        <label>updateDeploymentJob</label>
        <locationX>1669</locationX>
        <locationY>1937</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>updateJob</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deploymentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>deploymentResultId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>resultId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateJobFailed</targetReference>
            </connector>
            <label>updateJob</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidTestId</name>
        <label>ValidTestId</label>
        <locationX>1956</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>checkextensionExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isValidResult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resultObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDefaultOrg</targetReference>
            </connector>
            <label>isValidResult</label>
        </rules>
    </decisions>
    <decisions>
        <name>verifyifDeployment</name>
        <label>verifyifDeployment</label>
        <locationX>647</locationX>
        <locationY>2550</locationY>
        <defaultConnector>
            <targetReference>saveResults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesDeployment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deploymentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>deploymentResultId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>resultId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateSuccessJob</targetReference>
            </connector>
            <label>yesDeployment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>branchUrl</name>
        <dataType>String</dataType>
        <expression>{!branchBaseUrl}+{!featureBranch}+{!branchName}</expression>
    </formulas>
    <formulas>
        <name>Pause5</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 0.0034</expression>
    </formulas>
    <interviewLabel>DigitSecFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DigitSecFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createResultObject</name>
        <label>createResultObject</label>
        <locationX>2471</locationX>
        <locationY>446</locationY>
        <assignRecordIdToReference>resultObjectId</assignRecordIdToReference>
        <connector>
            <targetReference>Wait</targetReference>
        </connector>
        <inputAssignments>
            <field>copado__Description__c</field>
            <value>
                <stringValue>DigitSec Security Scan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Id__c</field>
            <value>
                <stringValue>PlaceholderId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Type__c</field>
            <value>
                <stringValue>DigitSec Security Scan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Test__c</field>
            <value>
                <elementReference>testId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordCreates>
    <recordCreates>
        <name>createTest</name>
        <label>createTest</label>
        <locationX>2254</locationX>
        <locationY>314</locationY>
        <assignRecordIdToReference>testId</assignRecordIdToReference>
        <connector>
            <targetReference>getUserStory</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>DigitSec Security Scan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__ExtensionConfiguration__c</field>
            <value>
                <elementReference>getExtension.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__ReadyToRun__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Testing in Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Test__c</object>
    </recordCreates>
    <recordLookups>
        <name>getbranchDetails</name>
        <label>getbranchDetails</label>
        <locationX>1443</locationX>
        <locationY>778</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createBranchLink</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getUserStory.copado__Git_Repository__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Git_Repository__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCommits</name>
        <label>getCommits</label>
        <locationX>830</locationX>
        <locationY>1142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scanCommit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story_Commit__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDeploymentSource</name>
        <label>getDeploymentSource</label>
        <locationX>2664</locationX>
        <locationY>466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSFDCdeployment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>deploymentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Deployment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getExtension</name>
        <label>getExtension</label>
        <locationX>1947</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isValidTestId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DigitSec Security Scan Tool</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__ExtensionConfiguration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLatestUserStory</name>
        <label>getLatestUserStory</label>
        <locationX>2953</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getExtension</targetReference>
        </connector>
        <object>copado__User_Story__c</object>
        <outputAssignments>
            <assignToReference>resultId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getMetaDataAttachment</name>
        <label>getMetaDataAttachment</label>
        <locationX>1457</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkMetaDataExists</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Git MetaData</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MetaData</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Attachment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUserStory</name>
        <label>getUserStory</label>
        <locationX>2474</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createResultObject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>isValidTestId</name>
        <label>isValidTestId</label>
        <locationX>1789</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidTestId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </filters>
        <object>copado__Result__c</object>
        <outputAssignments>
            <assignToReference>resultObjectId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateInvalidOrg</name>
        <label>updateInvalidOrg</label>
        <locationX>1673</locationX>
        <locationY>1784</locationY>
        <connector>
            <targetReference>updateDeploymentJob</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultObjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Description__c</field>
            <value>
                <stringValue>The credential in the User Story has not been added to DigitSec. Please add it first before running a scan against it. Please review the steps available here: https://docs.digitsec.com/hc/en-us/articles/4405246465172-Copado-Integration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateJobFailed</name>
        <label>updateJobFailed</label>
        <locationX>1681</locationX>
        <locationY>2253</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>deploymentResultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Incomplete</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateResult</name>
        <label>updateResult</label>
        <locationX>203</locationX>
        <locationY>1382</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultObjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Description__c</field>
            <value>
                <stringValue>No Commits to be scanned. If you don&apos;t want Commit based scanning but org based scanning then disable the commit based scanning setting in digitsec Custom Settings.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__End_Time__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateResultError</name>
        <label>updateResultError</label>
        <locationX>1259</locationX>
        <locationY>2558</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultObjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Description__c</field>
            <value>
                <elementReference>scanError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateResultInvalidOrg</name>
        <label>updateResultInvalidOrg</label>
        <locationX>1000</locationX>
        <locationY>1903</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultObjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Description__c</field>
            <value>
                <stringValue>Invalid S4 Org ID supplied. Please ensure that the custom settings for DigitSec have the correct corresponding org Id from the url (https://s4.digitsec.com/index#org/...)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateSuccessJob</name>
        <label>updateSuccessJob</label>
        <locationX>536</locationX>
        <locationY>2636</locationY>
        <connector>
            <targetReference>waitforSave</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>deploymentResultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>2345</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>LoginUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>branchBaseUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>branchName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>commitTriggered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CopadoOrg</name>
        <apexClass>ExternalService__DigitSecService_CopadoOrg</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deploymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deploymentResultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>featureBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>feature/</stringValue>
        </value>
    </variables>
    <variables>
        <name>grabCredsfromCopado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>JWT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Org</name>
        <apexClass>ExternalService__DigitSecService_Org</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>User Story Id</description>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>S4ApiOrg</name>
        <apexClass>ExternalService__DigitSecService_Org</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScanBodyApi</name>
        <apexClass>ExternalService__DigitSecService_ScanOrg</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scanComplete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </variables>
    <variables>
        <name>ScanCopadoBranchOrg</name>
        <apexClass>ExternalService__DigitSecService_ScanCopadoBranchOrg</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scanCopadoOrg</name>
        <apexClass>ExternalService__DigitSecService_ScanCopadoOrg</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scanError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>error</stringValue>
        </value>
    </variables>
    <variables>
        <name>scanisCompleted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>completed</stringValue>
        </value>
    </variables>
    <variables>
        <name>scanisPending</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>pending</stringValue>
        </value>
    </variables>
    <variables>
        <name>ScanOrg</name>
        <apexClass>ExternalService__DigitSecService_ScanOrg</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Wait</name>
        <label>Wait</label>
        <locationX>2474</locationX>
        <locationY>569</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>pause4</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>checkCredentialExists</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Pause5</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>pause4</label>
        </waitEvents>
    </waits>
    <waits>
        <name>waitforCompletion</name>
        <label>waitforCompletion</label>
        <locationX>898</locationX>
        <locationY>2629</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>waitfor5</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>listScanStatus</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Pause5</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>waitfor5</label>
        </waitEvents>
    </waits>
    <waits>
        <name>waitforSave</name>
        <label>waitforSave</label>
        <locationX>337</locationX>
        <locationY>2636</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>saveResults</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Pause5</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>pause</label>
        </waitEvents>
    </waits>
</Flow>
